/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
    background-image: url(https://pic1.imgdb.cn/item/6856937a58cb8da5c8609d17.png);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }
  [data-theme="dark"] #aside-content > .card-widget.card-info {
    background-image: url(https://pic1.imgdb.cn/item/6856937a58cb8da5c8609d17.png);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }


/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme-color);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: var(--theme-color);
}










.card-info-avatar,
.author-info__name {
  transition: opacity 0.3s ease;
}

.author_top:hover .card-info-avatar,
.author_top:hover .author-info__name {
  opacity: 0;
  /* 或者使用 visibility 属性 */
  /* visibility: hidden; */
}


.neko {
  width: 100px;
  height: 100px;
}

.neko::after {
  top: -85%;
}




/* todo标签 */
#todolist-box{
  margin: 0 10px;
}
#todolist-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px 0 10px;
}
#todolist-main li{
  list-style:none;
  font-size: 17px;
}
#todolist-main ul{
  margin: 0;
  padding: 0;
}
#todolist-left{
  width: 50%;
  padding: 0 8px 0 0;
}
#todolist-right{
  width: 50%;
  padding: 0 0 0 8px;
}
.todolist-item{
  position: relative;
  background: #fae4df;
  border-radius: 12px;
  padding: 10px 1rem 1.2rem;
  border: 2px dashed #f7a796;
  margin-bottom: 1rem;
}
[data-theme=dark]
.todolist-item{
  background: #242424;
  border: 2px dashed #51908b;
}
li.todolist-li i{
  margin-left: 10px;
}
h3.todolist-title{
  margin: 0!important;
  border-bottom: var(--todo-border);
}
li.todolist-li{
  border-bottom: var(--todo-border);
  font-weight: normal;
}
.todolist-li span{
  margin-left: 5px;
}
@media screen and (max-width:700px){
  #todolist-left,#todolist-right{
      width: 100%;
      padding: 0;
  }
}
.page-top-card{
background-size: cover;
background-position: center;
height: 20.5rem;
padding: 10px 2.7rem;
border-radius: 20px;
color: white;
position: relative;
}
.page-top-card span.content-item-title{
font-size: 2.3em;
font-weight: bold;
line-height: 1.2;
font-family: STZhongsong,'Microsoft YaHei';
}
.page-top-card .content-bottom{
display: flex;
justify-content: space-between;
align-items: center;
position: absolute;
width: calc(100% - 5.4rem);
bottom: 1rem;
}
/* 新增的样式规则 */
.page-top-card .content-bottom .tips {
  color: rgb(255, 0, 0);
}
[data-theme='dark'] .page-top-card{
opacity: .92;
}

#web_bg {
  position: fixed;
  z-index: -999;
  width: 100%;
  height: 100%;
  background: var(--default-bg);
  background-attachment: local;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

[data-theme="dark"] #web_bg {
  background: var(--darkmode-bg);
  background-attachment: local;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
  #web_bg {
    background: var(--mobileday-bg);
    background-attachment: local !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  [data-theme="dark"] #web_bg {
    background: var(--mobilenight-bg);
    background-attachment: local !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}

/* 减小按钮的上下间距 */
.tab-to-top {
  margin-top: 40px !important;
  margin-bottom: -50px !important;
  opacity: 0.5;  /* 可选：降低透明度 */
}

/* 鼠标悬停时显示按钮 */
.tab-to-top {
  display: none;
}
.post-content h1:hover .tab-to-top,
.post-content h2:hover .tab-to-top {
  display: inline-block;
}


