/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
    background-image: url(https://cdn.jsdelivr.net/gh/sun0wei/PicGo@main/img/side.png);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }
  [data-theme="dark"] #aside-content > .card-widget.card-info {
    background-image: url(https://cdn.jsdelivr.net/gh/sun0wei/PicGo@main/img/side.png);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }


/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme-color);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: var(--theme-color);
}










.card-info-avatar,
.author-info__name {
  transition: opacity 0.3s ease;
}

.author_top:hover .card-info-avatar,
.author_top:hover .author-info__name {
  opacity: 0;
  /* 或者使用 visibility 属性 */
  /* visibility: hidden; */
}