/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
    background-image: url(https://cdn.jsdelivr.net/gh/sun0wei/PicGo@main/img/side.png);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }
  [data-theme="dark"] #aside-content > .card-widget.card-info {
    background-image: url(https://cdn.jsdelivr.net/gh/sun0wei/PicGo@main/img/side.png);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }